<configuration>
    　　　
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    　　　
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

<!--    <logger name="org.apache.kafka.clients.consumer.ConsumerConfig" level="INFO" additivity="false">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </logger>-->
<!--    <logger name="com.hpe.zg.util.KafkaUtil" level="INFO" additivity="false">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </logger>-->
</configuration>